<!DOCTYPE html>
<html>
    
    <head>
        <title>EEB Hub Simulation Platform Tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="http://tools.eebhub.org/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://tools.eebhub.org/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="http://tools.eebhub.org/css/partial.css" rel="stylesheet" />
        <link href="http://tools.eebhub.org/css/stylesheet.css" rel="stylesheet" />
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgb(229, 229, 229);
            }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
        function saveIMTResult() {
                var form = document.forms.IMTResultForm;
                form.action = "/saveimtresult";
                form.submit();
        }
        </script>
        <script type="text/javascript">
            $(function() {
                $('#euijs').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Site Energy Use Intensity'
                    },

                    xAxis: {
                        categories: ['<%= building_name %>', 'Industry Average', ],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Energy Use Instensity (kBtu/m^2/yr)',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' kBtu/m^2/yr'
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },

                    credits: {
                        enabled: true
                    },
                    series: [{
                        name: 'EUI',
                        data: [ <%= EUI %> , <%= buildingTypeEUI %> ]
                    }]
                });
            });
        </script>
        <script type="text/javascript">
            $(function() {
                $('#temphighjs').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Average Monthly Temperature vs Monthly Utility Use'
                    },
                    subtitle: {
                        text: 'for <%= building_name%>'
                    },
                    xAxis: [{

                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}°F',
                            style: {
                                color: '#89A54E'
                            }
                        },
                        title: {
                            text: 'Temperature',
                            style: {
                                color: '#89A54E'
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Monthly Utility Energy Use',
                            style: {
                                color: '#4572A7'
                            }
                        },
                        labels: {
                            format: '{value} kBTU',
                            style: {
                                color: '#4572A7'
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 120,
                        verticalAlign: 'top',
                        y: 100,
                        floating: true,
                        backgroundColor: '#FFFFFF'
                    },
                    series: [{
                        name: 'Monthly Electricity Utility Use',
                        color: '#4572A7',
                        type: 'column',
                        yAxis: 1,
                        data: [ <%= utility_electric %> ],
                        tooltip: {
                            valueSuffix: ' kBTU'
                        }

                    }, {
                        name: 'Monthly Gas Utility Use',
                        color: 'blue',
                        type: 'column',
                        yAxis: 1,
                        data: [ <%= utility_gas %> ],
                        tooltip: {
                            valueSuffix: ' kBTU'
                        }

                    }, {
                        name: 'Monthly Average Temperature',
                        color: '#89A54E',
                        type: 'spline',
                        data: [ <%= temperatures %> ],
                        tooltip: {
                            valueSuffix: '°F'
                        }
                    }]
                });
            });
        </script>
        <script type="text/javascript">
            $(function() {
                $('#regression').highcharts({
                    chart: {},
                    xAxis: {
                        labels: {
                            format: '{value}°F',
                            style: {
                                color: '#89A54E'
                            }
                        },
                        title: {
                            text: 'Temperature',
                            style: {
                                color: '#89A54E'
                            }
                        }
                    },
                    yAxis: {
                        labels: {
                            format: '{value}kBTU',
                            style: {
                                color: 'black'
                            }
                        },
                        title: {
                            text: 'Energy Use/Day (kBTU)',
                            style: {
                                color: 'black'
                            }
                        },
                        min: 0
                    },
                    title: {
                        text: 'Building Energy Use Regression Analysis'
                    },
                    series: [{
                        type: 'line',
                        name: 'Gas Base Load',
                        color: 'green',
                        data: [
                            [ <%= Xcp_gas %> , <%= Ycp_gas %> ],
                            [ <%= X_max_gas %> , <%= Ycp_gas %> ]
                        ],
                        marker: {
                            enabled: false
                        },
                        states: {
                            hover: {
                                lineWidth: 0
                            }
                        },
                        enableMouseTracking: false
                    }, {
                        type: 'line',
                        name: 'Heating Load',
                        color: 'red',
                        data: [
                            [ <%= X_min_gas %> , <%= Y_gas %> ],
                            [ <%= Xcp_gas %> , <%= Ycp_gas %> ]
                        ],
                        marker: {
                            enabled: false
                        },
                        states: {
                            hover: {
                                lineWidth: 0
                            }
                        },
                        enableMouseTracking: false
                    }, {
                        type: 'line',
                        name: 'Electric Base Load',
                        color: 'green',
                        data: [
                            [ <%= X_min_electric %> , <%= Ycp_electric %> ],
                            [ <%= Xcp_electric %> , <%= Ycp_electric %> ]
                        ],
                        marker: {
                            enabled: false
                        },
                        states: {
                            hover: {
                                lineWidth: 0
                            }
                        },
                        enableMouseTracking: false
                    }, {
                        type: 'line',
                        name: 'Cooling Load',
                        color: 'blue',
                        data: [
                            [ <%= Xcp_electric %> , <%= Ycp_electric %> ],
                            [ <%= X_max_electric %> , <%= Y_electric %> ]
                        ],
                        marker: {
                            enabled: false
                        },
                        states: {
                            hover: {
                                lineWidth: 0
                            }
                        },
                        enableMouseTracking: false
                    }, {
                        type: 'scatter',
                        name: 'Observations',
                        data: [
                            [ <%= Xcp_electric %> , <%= Ycp_electric %> ],
                            [ <%= X_max_electric %> , <%= Y_electric %> ],
                            [ <%= X_min_electric %> , <%= Ycp_electric %> ],
                            [ <%= Xcp_electric %> , <%= Ycp_electric %> ],
                            [ <%= X_min_gas %> , <%= Y_gas %> ],
                            [ <%= Xcp_gas %> , <%= Ycp_gas %> ],
                            [ <%= Xcp_gas %> , <%= Ycp_gas %> ],
                            [ <%= X_max_gas %> , <%= Ycp_gas %> ]
                        ],
                        marker: {
                            radius: 4
                        }
                    }]
                });
            });
        </script>
    </head>
    
    <body data-spy="scroll" data-target="#sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand">EEB Hub Simulation Platform</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/lite">Lite</a>
                            </li>
                            <li>
                                <a href="/partial">Partial</a>
                            </li>
                            <li>
                                <a href="/substantial">Substantial</a>
                            </li>
                            <li>
                                <a href="/comprehensive">Comprehensive</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li>
                            <h3>Lite
                                <small>-ASHRAE IMT</small>
                            </h3>
                        </li>
                        <li>
                            <a href="#building"><i class="icon-chevron-right"></i> Building</a>
                        </li>
                        <li>
                            <a href="#eui"><i class="icon-chevron-right"></i> Energy Use Intensity</a>
                        </li>
                        <li>
                            <a href="#temp"><i class="icon-chevron-right"></i> Temperature vs Utilities</a>
                        </li>
                        <li>
                            <a href="#reg"><i class="icon-chevron-right"></i> Regression Plots</a>
                        </li>
                        <li>
                            <a href="#regressionanalysis"><i class="icon-chevron-right"></i> Regression Analysis</a>
                        </li>
                        <li>
                            <a href="#files"><i class="icon-chevron-right"></i> IMT Files</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="span9">
                        <div class="row">
                            <section id="building">
                                <div class="span9 box-unit">
                                    <div class="page-header">
                                    <form action="" method="post" name="IMTResultForm">
                                    <input type="hidden" name="building_name" value="<%= building_name %>">
                                    <script>
                                    var elec_str = "<%= utility_electric %>";
                                    var utility_electric = elec_str.split(",");
                                     for(var i=0; i<utility_electric.length; i++){
                                         document.write('<input type="hidden" name="utility_electric[]" value="'+utility_electric[i]+'">');
                                     }
                                    var year_completed = "<%= year_completed %>";
                                    document.write('<input type="hidden" name="year_completed" value="'+year_completed+'">');
                                    var building_function = "<%= building_function %>";
                                    document.write('<input type="hidden" name="building_function" value="'+building_function+'">');
                                    var building_location = "<%= building_location %>";
                                    document.write('<input type="hidden" name="building_location" value="'+building_location+'">');
                                    //EUI
                                    var EUI = "<%= EUI %>";
                                    document.write('<input type="hidden" name="EUI" value="'+EUI+'">');
                                    var buildingTypeEUI = "<%= buildingTypeEUI %>";
                                    document.write('<input type="hidden" name="buildingTypeEUI" value="'+buildingTypeEUI+'">');
                                    var EUI_source = "<%= EUI_source %>";
                                    document.write('<input type="hidden" name="EUI_source" value="'+EUI_source+'">');
                                    //Temp vs Utility
                                    var electric_utility_startdate1 = "<%= electric_utility_startdate %>";
                                    var electric_utility_startdate = electric_utility_startdate1.split(',');
                                     for (var i=0; i<electric_utility_startdate.length; i++){
                                         document.write('<input type="hidden" name="electric_utility_startdate[]" value="'+electric_utility_startdate[i]+'">');
                                     }
                                    var temperatures1 = "<%= temperatures %>";
                                    var temperatures = temperatures1.split(",");
                                    for (var i=0;i<temperatures.length;i++){
                                    document.write('<input type="hidden" name="temperatures[]" value="'+temperatures[i]+'">');
                                    }
                                    var utility_gas1 = "<%= utility_gas %>";
                                    var utility_gas = utility_gas1.split(',');
                                     for (var i=0; i<utility_gas.length; i++){
                                     document.write('<input type="hidden" name="utility_gas[]" value="'+utility_gas[i]+'">');
                                     }
                                    //Regression Plots
                                    //Gas
                                    var X_min_gas = "<%= X_min_gas %>";
                                    var X_max_gas = "<%= X_max_gas %>";
                                    var Xcp_gas = "<%= Xcp_gas %>";
                                    var Ycp_gas = "<%= Ycp_gas %>";
                                    var Y_gas = "<%= Y_gas %>";
                                    document.write('<input type="hidden" name="X_min_gas" value="'+X_min_gas+'">');
                                    document.write('<input type="hidden" name="X_max_gas" value="'+X_max_gas+'">');
                                    document.write('<input type="hidden" name="Xcp_gas" value="'+Xcp_gas+'">');
                                    document.write('<input type="hidden" name="Ycp_gas" value="'+Ycp_gas+'">');
                                    document.write('<input type="hidden" name="Y_gas" value="'+Y_gas+'">');
                                    //Electric
                                    var X_min_electric = "<%= X_min_electric %>";
                                    var X_max_electric = "<%= X_max_electric %>";
                                    var Xcp_electric = "<%= Xcp_electric %>";
                                    var Ycp_electric = "<%= Ycp_electric %>";
                                    var Y_electric = "<%= Y_electric %>";
                                    document.write('<input type="hidden" name="X_min_electric" value="'+X_min_electric+'">');
                                    document.write('<input type="hidden" name="X_max_electric" value="'+X_max_electric+'">');
                                    document.write('<input type="hidden" name="Xcp_electric" value="'+Xcp_electric+'">');
                                    document.write('<input type="hidden" name="Ycp_electric" value="'+Ycp_electric+'">');
                                    document.write('<input type="hidden" name="Y_electric" value="'+Y_electric+'">');
                                    var insFileElectric = "<%= insFileElectric %>";
                                    var datFileElectric = "<%= datFileElectric %>";
                                    var outFileElectric = "<%= outFileElectric %>";
                                    var resFileElectric = "<%= resFileElectric %>";
                                    var insFileGas = "<%= insFileGas %>";
                                    var datFileGas = "<%= datFileGas %>";
                                    var outFileGas = "<%= outFileGas %>";
                                    var resFileGas = "<%= resFileGas %>";
                                    document.write('<input type="hidden" name="insFileElectric" value="'+insFileElectric+'">');
                                    document.write('<input type="hidden" name="datFileElectric" value="'+datFileElectric+'">');
                                    document.write('<input type="hidden" name="outFileElectric" value="'+outFileElectric+'">');
                                    document.write('<input type="hidden" name="resFileElectric" value="'+resFileElectric+'">');
                                    document.write('<input type="hidden" name="insFileGas" value="'+insFileGas+'">');
                                    document.write('<input type="hidden" name="datFileGas" value="'+datFileGas+'">');
                                    document.write('<input type="hidden" name="outFileGas" value="'+outFileGas+'">');
                                    document.write('<input type="hidden" name="resFileGas" value="'+resFileGas+'">');
                                    </script>
                                    </form>
                                    <table>
                                    <tbody>
                                    <tr>
                                    <td>
                                    <h2>Building</h2></td>
                                    <td class="span7">
                                        <div class="pull-right text-right">
                                        <script>
                                        var username = "<%= username %>";
                                        if (username!='undefined'){
                                        document.write('<button type="submit" onclick="saveIMTResult();">Save Result</button>');
                                        }
                                        </script>
                                        </div>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </div>
                                    <div class="row">
                                        <div class="span4">
                                            <h4>Building Name</h4>
                                            <input id="disabledInput" class="span3" type="text"
                                            placeholder="<%= building_name%>" disabled>
                                            <br/>
                                            <h4>Year Built</h4>
                                            <input id="disabledInput" class="span3" type="text" placeholder="<%= year_completed %>"
                                            disabled>
                                        </div>
                                        <div class="span4">
                                            <h4>Function</h4>
                                            <input id="disabledInput" class="span3" type="text" value="<%= building_function %>"
                                            disabled>
                                            <h4>City</h4>
                                            <input id="disabledInput" class="span3" type="text" value="<%= building_location %>"
                                            disabled>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="row">
                            <section id="eui">
                                <div class="span9 box-unit">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="#site" data-toggle="tab">Site Energy Use Intensity</a>
                                        </li>
                                        <li>
                                            <a href="#source" data-toggle="tab">Source Energy Use Intensity</a>
                                        </li>
                                        <li>
                                            <a href="#costs" data-toggle="tab">Utility Costs</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="site">
                                            <div id="euijs" class="span8"></div>
                                        </div>
                                        <div class="tab-pane" id="source">
                                            <h2>Coming Soon</h2>
                                        </div>
                                        <div class="tab-pane" id="cots">
                                            <h2>Coming Soon</h2>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="temp">
                                <div class="span9 box-unit">
                                    <div class="page-header">
                                        <h2>Temperature Related Consumption</h2>
                                    </div>
                                    <div id="temphighjs" class="span8"></div>
                                </div>
                            </section>
                            <section id="reg">
                                <div class="span9 box-unit">
                                    <div class="page-header">
                                        <h2>Building Regression Plots</h2>
                                    </div>
                                    <div id="regression" class="span8"></div>
                                </div>
                            </section>
                            <section id="regressionanalysis">
                                <div class="span9 box-unit">
                                    <h2>Regression Analysis</h2>
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="#shell" data-toggle="tab">Shell Driven Building</a>
                                        </li>
                                        <li>
                                            <a href="#internal" data-toggle="tab">Internal Load Driven Building</a>
                                        </li>
                                        <li>
                                            <a href="#portfolio" data-toggle="tab">Portfolio Manager</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="shell">
                                            <img src="http://tools.eebhub.org/img/lite/Picture1.png" class="img-polaroid" height="90%" width="90%">
                                        </div>
                                        <div class="tab-pane" id="internal">
                                            <img src="http://tools.eebhub.org/img/lite/Picture2.png" class="img-polaroid" height="90%" width="90%">
                                        </div>
                                        <div class="tab-pane" id="portfolio">
                                            <img src="http://tools.eebhub.org/img/lite/Picture3.png" class="img-polaroid" height="90%" width="90%">
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="files">
                                <div class="span9 box-unit">
                                    <div class="page-header">
                                        <h2>Inverse Modeling Toolkit Files</h2>
                                    </div>
                                    <h2>Electricity</h2>
                                    <a href='<%= insFileElectric %>'>Instruction File</a>
                                    <a href='<%= datFileElectric %>'>Data File</a>
                                    <a href='<%= outFileElectric %>'>Output File</a>
                                    <a href='<%= resFileElectric %>'>Residule File</a>
                                    <h2>Gas</h2>
                                    <a href='<%= insFileGas %>'>Instruction File</a>
                                    <a href='<%= datFileGas %>'>Data File</a>
                                    <a href='<%= outFileGas %>'>Output File</a>
                                    <a href='<%= resFileGas %>'>Residule File</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Javascript -->
            <script src="http://tools.eebhub.org/js/bootstrap-scrollspy.js"></script>
            <script src="http://code.highcharts.com/highcharts.js"></script>
            <script src="http://code.highcharts.com/modules/exporting.js"></script>
            <script src="http://tools.eebhub.org/js/bootstrap.min.js"></script>
    </body>

</html>
